rpcuser=sagaadminrpc
rpcpassword=$PASSWORD
rpcallowip=127.0.0.1
rpcport=48844
listen=1
server=1
daemon=1
maxconnections=64
listenonion=0
port=48744
masternode=1
masternodeaddr={{ ansible_host }}:48744
masternodeprivkey={{ genkey }}
addnode=node1.sagacoin.net
addnode=node2.sagacoin.net
addnode=node3.sagacoin.net
addnode=155.94.230.24
addnode=155.94.230.163
addnode=80.209.228.1